.menu-items{
	background-color:white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	color: goldenrod;
	font-weight: 300px;
    

}
.image{
	height: 200px;
	border-radius: 10px;
}